.contacts {
  padding-top: 28px;
}

.contacts__wrapper {
  // width: 320px;
  padding: 0 20px;
  // margin: 0 auto;
}

.contacts__cooperation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  display: block;
  max-width: 140px;
  margin: 0;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  display: block;
  max-width: 140px;
  margin-bottom: 28px;
}

.contacts__map-wrapper {
  position: relative;
}

.contacts__map {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contacts__map-image {
  margin: 0 auto;
  margin-top: 26px;
  display: block;
}

.program-selection + .contacts {
  background-color: $basic-grey;
}
