//Colors
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$special-grey: #ebebeb;
$stroke-grey: #cdcdcd;
$border-grey: #d9d9d9;
$font-color: #444444;
$title-color: #000000;
$contacts-title: #111111;
$basic-green: #68b738;
$additional-green: #5eaa2f;
$error: #ff8282;
