.program-selection__wrapper {
  // width: 320px;
  padding: 0 20px;
  // margin: 0 auto;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $title-color;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.program-selection__tagline {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 400;
  margin: 0;
  margin-bottom: 39px;
}
