// Global
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";

// Blocks
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/button.scss";

// Index
@import "blocks/index/promo.scss";
@import "blocks/index/program.scss";
@import "blocks/index/instruction.scss";
@import "blocks/index/case.scss";
@import "blocks/index/slider.scss";

// Form
@import "blocks/form/program-selection.scss";
@import "blocks/form/program-form.scss";

// Catalog
@import "blocks/catalog/catalog.scss";
@import "blocks/catalog/extra.scss";
@import "blocks/catalog/product.scss";
